$primary: #3292a6;
$primary-overlay:rgba(50,146,166,0.8);


body{
	margin-top: 105px;
}

.navbar{
	box-shadow: 2px 2px 5px $primary;
	opacity: 0.9;
	background:#fff;

	.nav-item{
		font-size: 1.4rem;
		padding-right: 20px;
	} 
}

#showcase{
	background:url(../img/mountains.jpg);
	min-height: 600px;
	position: relative;

	.primary-overlay{
		background:$primary-overlay;
		position:absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%; 
	} 
}

.info-header{
	width: 50%;
	margin: auto;
	border-bottom: 1px #ddd solid;
}

#authors{
	img{
		margin-top: -50px;
	}

	.fa{
		font-size: 25px;
	}

	.card:hover{
		background:$primary;
		color: #fff;

		.fa{
			color: #fff;
		} 
	}
}